sudo: false
language: node_js
cache:
  yarn: true
  directories:
    - node_modules
notifications:
  email: true
node_js:
  - '8'
before_install:
  - npm i -g npm@^5.0.0
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.6.0
  - export PATH=$HOME/.yarn/bin:$PATH
before_script:
  - yarn install --force
script:
  - yarn cover
  - yarn check-coverage
  - yarn build
after_success:
  - yarn report-coverage
